<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="http://js.nicedit.com/nicEdit-latest.js"></script> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link href="https://code.jquery.com/ui/1.11.1/themes/ui-darkness/jquery-ui.css" rel="stylesheet"/>
    <script src="https://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="http://www.javascripttoolbox.com/libsource.php/mktree/source/mktree.js"></script>
    <link rel="stylesheet" href="http://www.javascripttoolbox.com/lib/mktree/mktree.css" type="text/css">
    <style>
        body, html{
            width:100%;
            height:100%;
            padding: 0;
            margin: 0;
        }

        header{
            width:100%;
            height: 50px;
        }

        section{
            width: 100%;
            height: calc(100% - 110px);
        }


        footer{
            width: 100%;
            height: 60px;
        }

        #container {
            display: flex;
        }

        #clauses-container {
            width: 150px;
            background: white;
            /*    border-style: inset;*/
            /* Just so it's visible */
        }

        #features-container {
            width: 500px;
            background: white;
            /*    border-style: inset;*/
            /* Just so it's visible */
        }

        #editor-container {
            flex: 1;
            /* Grow to rest of container */
            background: white;
            /*    border-style: inset;*/
            /* Just so it's visible */
        }
    </style>
</head>

<body>
    <script>
        bkLib.onDomLoaded(function() {
            window.nicEdit = new nicEditor({
                maxHeight : 500,
                fullPanel : true
            }).panelInstance('area');
        });

        function addText(id) {
            var nicE = new nicEditors.findEditor('area');
            var map = {};
            map["A1"] = "Clause A1 - abc";
            map["A2"] = "Clause A2";
            map["B1"] = "Clause B1";
            map["B2"] = "Clause B2";
            console.log("Current Content: ");
            console.log(nicE.getContent());
            nicE.setContent(nicE.getContent() + "<div class='Clause' id='" + id + "'>" + map[id.toString()] + "</div> <br>");
            $('#editor-container').trigger('onClauseAddition');
        }
    </script>
    <header style="text-align:center;">
        <h1>Real Time Contract Editor</h1>
    </header>
    <section>
        <div id="container">
            <div id="clauses-container" style="width:400px">

                <ul class="mktree" id="tree1" >
                     <li id = "A" href="#" class="liClosed" onClick="expandToItem('tree1','A'); return false;">Clause A 
                    <ul>
                        <li id="A1" href="#" onClick="addText('A1')">Clause A1 </li>
                        <li id="A2" href="#" onClick="addText('A2')">Clause A2</li>
                    </ul> 
                </li>
                     <li id = "B" href="#" class="liClosed" onClick="expandToItem('tree1','B'); return false;">Clause B
                    <ul>
                        <li id="B1" href="#" onClick="addText('B1')">Clause B1 </li>
                        <li id="B2" href="#" onClick="addText('B2')">Clause B2</li>
                    </ul> 
                </li>
                </ul>
            </div>
            <div id="editor-container" ondrop="dropped(event)">
                <textarea id="area" ondrop="dropped(event)" ondragover="return false" style="height:550px" cols="125">
                </textarea>
                <button id="but" draggable="true" onclick="getContent()">Get Content</button>
            </div>
            <div id="features-container">
            </div>
        </div>
    </section>
    <footer style="text-align:center;">
        <h6>SAP Ariba, Innovation 2016</h6>
    </footer>
</body>
    
</html>