<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="http://js.nicedit.com/nicEdit-latest.js"></script> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link href="https://code.jquery.com/ui/1.11.1/themes/ui-darkness/jquery-ui.css" rel="stylesheet"/>
    <script src="https://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="http://www.javascripttoolbox.com/libsource.php/mktree/source/mktree.js"></script>
    <link rel="stylesheet" href="http://www.javascripttoolbox.com/lib/mktree/mktree.css" type="text/css">
    <!--<link rel="stylesheet" href="nicEdit.css">-->
    <link rel="stylesheet" href="style.css">
    <script src="https://use.fontawesome.com/d505c5f630.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <style>
        body, html{
            width:100%;
            height:100%;
            padding: 0;
            margin: 0;
        }

        header{
            width:100%;
            height: 50px;
        }

        section{
            width: 100%;
            height: calc(100% - 70px);
        }

        footer{
            width: 100%;
            height: 10px;
        }

        #container {
            display: flex;
        }

        #clauses-container {
            width: 150px;
            background: white;
        }

        #features-container {
            width: 500px;
            background: white;
        }

        #editor-container {
            flex: 1;
            background: white;
        }
    </style>
</head>

<body>
    <script>
        bkLib.onDomLoaded(function() {
            window.nicEdit = new nicEditor({
                maxHeight : 500,
                fullPanel : true
            }).panelInstance('area');
        });

        function addText(id) {
            var nicE = new nicEditors.findEditor('area');
            var map = {};
            map["A1"] = "Clause A1 - abc";
            map["A2"] = "Clause A2";
            map["B1"] = "Clause B1";
            map["B2"] = "Clause B2";
            console.log("Current Content: ");
            console.log(nicE.getContent());
            nicE.setContent(nicE.getContent() + "<div class='Clause' id='" + id + "'>" + map[id.toString()] + "</div> <br>");
            $('#editor-container').trigger('onClauseAddition', [{"id" : id}]);
        }
    </script>
    <header style="text-align:center;">
        <h1>Real Time Contract Editor</h1>
    </header>
    <section>
        <div id="container">
            <div id="clauses-container" style="width:400px">
                <h3 style="text-align:center;"><u>Clause Selector</u></h3>
                <ul class="mktree" id="tree1" >
                     <li id = "A" href="#" class="liClosed" onClick="expandToItem('tree1','A'); return false;">Clause A 
                    <ul>
                        <li id="A1" href="#" onClick="addText('A1')">Clause A1 </li>
                        <li id="A2" href="#" onClick="addText('A2')">Clause A2</li>
                    </ul> 
                </li>
                     <li id = "B" href="#" class="liClosed" onClick="expandToItem('tree1','B'); return false;">Clause B
                    <ul>
                        <li id="B1" href="#" onClick="addText('B1')">Clause B1 </li>
                        <li id="B2" href="#" onClick="addText('B2')">Clause B2</li>
                    </ul> 
                </li>
                </ul>
            </div>
            <div id="editor-container" ondrop="dropped(event)">
                <textarea id="area" ondrop="dropped(event)" ondragover="return false" style="height:550px" cols="125">
                </textarea>
                <!--<button id="but" draggable="true" onclick="getContent()">Get Content</button>-->
            </div>
            <div id="features-container">
                <div class="chat-container">
                    <div class="row chat-window" id="chat_window_1">
                        <div class="col-xs-12 col-md-12">
                            <div class="chat-panel chat-panel-default">
                                <div class="chat-panel-heading chat-top-bar">
                                    <div class="col-md-8 col-xs-8">
                                        <i class="fa fa-comments-o" aria-hidden="true" style="color:black"></i>
                                        <label for="Name" class="widget-label" style="color:black">Contract Assistant</label>
                                    </div>
                                    <div class="col-md-4 col-xs-4" style="text-align: right;">
                                        <a><span id="minim_chat_window" class="glyphicon glyphicon-minus icon_minim"></span></a>
                                    </div>
                                </div> <!-- End of Chat Panel Heading-->
                                <div class="chat-panel-body msg_container_base">
                                </div> <!-- End of Chat Panel Body-->
                                <div class="chat-panel-footer">
                                    <input id="chat-input" type="text" class="form-control input-sm chat_input" placeholder="Write your message here..." />
                                    <div class="input-group">
                                    </div>
                                </div> <!-- End of Chat Panel Footer-->
                            </div> <!-- End of Chat Panel -->
                        </div>
                    </div> <!-- End of chat Window -->
                </div> <!-- End of chat Container -->
            </div> <!-- End of features Container -->
        </div>
    </section>
    <footer style="text-align:center;">
        <h6>SAP Ariba, Innovation 2016</h6>
    </footer>

    <script type="text/html" id="chat-bot-msg-sent-template">
        <div class="row msg_container base_sent">
            <div class="col-md-10 col-xs-10">
                <div class="chat-messages msg_sent">
                </div>
            </div>
            <div class="col-md-2 col-xs-2 avatar">
                <img src="/user.png" class=" img-responsive">
            </div>
        </div>
    </script>

    <script type="text/html" id="chat-bot-msg-receive-template">
        <div class="row msg_container base_receive">
            <div class="col-md-2 col-xs-2 avatar">
                <img src="/bot.png" class=" img-responsive ">
            </div>
            <div class="col-md-10 col-xs-10">
                <div class="chat-messages msg_receive">
                </div>
            </div>
        </div>
    </script>
</body>
    
</html>